.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-img {
  font-size: 2rem;
}
.profile-img:hover {
  filter: brightness(85%);
}
.upload-box {
  border: 2px solid rgb(49, 145, 65);
  height: 50vh;
  width: 50vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
