.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  margin-top: -81.989px;
}

.App-content {
  margin-top: 100px;
  height: 100%;
  flex: auto;
}

.App-link {
  color: #61dafb;
}

.profile-img {
  font-size: 2rem;
}
.profile-img:hover {
  filter: brightness(85%);
}
.upload-box {
  border: 3px solid white;
  border-radius: .375rem;
  max-height: 400px;
  min-height:300px;
  position: relative;
}
#upload {
  position: absolute;
  bottom: 0px;
}
.upload-icon {
  width: 150px;
  position: absolute;
  left: auto;
  right: auto;
}

.signup-btn {
  filter: brightness(75%);
}

.signup-btn:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.browse-card-img {
object-fit: cover;
}

.browse-img {
  object-fit: cover;
  height: 100%;
  }

.images-container {
  height: 100%;
  min-height: 83vh;
  position: relative;
}

.image-main {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}

.card-text {
  overflow: hidden;
  max-height: 100px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 575px) {
  .card-text {
    padding: 4px;
    min-height: 50px;
    text-align: start;
    overflow: hidden;
    background-color: #080808a8;
    left:0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
  }
  .card-title {
    overflow: hidden;
    top:-35px;
    left:0px;
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 575px) {
  .browse-card {
    height: 20vh;
  }
  .browse-layover {
    backdrop-filter: brightness(50%);
  }
  .hide {
    display: none;
  }
}
